<div class="page-container">

  <mat-card>

    <h2>Change Password</h2>

    <form [formGroup]="form">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Current Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="currentPassword">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="newPassword">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword">
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="save()">

        Update Password

      </button>

    </form>

  </mat-card>

</div>